<div id="mainJumbo" class="jumbotron">
    <!--
    <h1>Test App</h1>
    <p>This is some subtext</p>
    <p><a class="btn btn-success btn-lg" href="/help">Help Button &raquo;</a></p>
    -->
    <canvas id="myChart"></canvas>
</div>

{{name}}
<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Box One</h3>
            </div>
            <div class="panel-body">
                <p>Box One Content</p>
                <p><a class="btn btn-success pull-right" href="/box1">Go to Box One &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Box Two</h3>
            </div>
            <div class="panel-body">
                <p>Box Two Content</p>
                <p><a class="btn btn-success pull-right" href="/box1">Go to Box Two &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Box Three</h3>
            </div>
            <div class="panel-body">
                <p>Box Three Content</p>
                <p><a class="btn btn-success pull-right" href="/box1">Go to Box Two &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
